<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>验证码测试</title>
</head>
<body>
<h1>验证码测试</h1>

{% if msg %}
    <div class="msg">{{ msg }}</div>
{% endif %}

<form method="post" action="{% url 'mytestapp:index' %}">
    <div>
        <label for="email">Email:</label>
        {{ myform.email }}
        {{ myform.errors.email.0 }}
    </div>

    <div>
        <label>Captcha:</label>
        {{ myform.captcha }}
        {{ myform.errors.captcha.0 }}
    </div>

    <input type="submit" value="go">
    {% csrf_token %}
</form>
</body>
</html>